In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the csv file
df = pd.read_csv('country_vaccination_stats.csv')

In [3]:
df

,Unnamed: 0,country,date,daily_vaccinations,vaccines
0,0,Argentina,12/29/2020,6483.0,Sputnik V
1,1,Argentina,12/30/2020,15656.0,Sputnik V
2,2,Argentina,12/31/2020,15656.0,Sputnik V
3,3,Argentina,1/1/2021,11070.0,Sputnik V
4,4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...,...
1497,1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [5]:
top3 = df.groupby(['country'])['daily_vaccinations'].agg(Median_Vaccs='median').sort_values(by='Median_Vaccs',ascending=False).head(3)

In [6]:
top3 = pd.DataFrame(top3)

In [7]:
top3

               Median_Vaccs
country
United States      378253.0
China              276786.0
India              173922.0